<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store" />
    <title>Email Vérifié</title>
</head>
    <body style="font-family: Arial, sans-serif; background: linear-gradient(45deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(83, 237, 232, 1) 100%); text-align: center; padding: 50px;">
        <h1 style="color: #28a745;">Mot de passe modifié avec succès !</h1>
        <h2 style="font-size: 20px; color: #333333;">Vous pouvez maintenant utiliser votre nouveau mot de passe.</h2>
    </body>
</html>