<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Remise à zero du mot de passe</title>
    </head>
    <body>
        <h1 style="color: #28a745;">Reinitialisez votre mot de passe</h1>
        <form method="POST" action="/api/resetPassword">
            <input id="password" name="password" type="password" placeholder="Entrez votre mot de passe" required />
            <div class="error" id="error-password"></div>
            <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Confirmez le mot de passe" required />
            <div class="error" id="error-confirmPassword"></div>
            <input type="hidden" name="token" value="<%= token %>" />
            <button id="validate-button" type="submit" disabled>Valider</button>
        </form>
        <script type="module">
            import { resetPasswordVanilla } from '/view.js';
            resetPasswordVanilla();
        </script>
    </body>
</html>