<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Compte vérifié</title>
</head>
    <body>
        <h1 style="color: #28a745;">Email vérifié avec succès !</h1>
        <h2 style="font-size: 20px; color: #333333;">Vous pouvez maintenant vous connecter à votre compte dans l'application.</h2>
    </body>
</html>